@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body h1, h2 {
    margin-bottom: 10px;
}

body {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0f141e;
    background: #f1f1f1;
}

.info {
    margin-bottom: 15px;
    padding-top: 30px;
    display: flex;
}

.info-text {
    margin-left: 20px;
}    

.container {
    max-width: 750px;
    margin: auto;
}

.info img {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 15px;
    /* display: block; */
}

@media (max-width: 600px) {
    .info {
        display: block;
        text-align: center;
    }
    .works {
        text-align: center;
    }
    .works tr {
        display: block; float: left; 
    }
    .works th, td {
        display: block; 
    }
}


.info-text p {
    font-style: italic;
    color: #86898f;
    padding: 15px;
    display: block;
    box-sizing: border-box;
}

.card {
    padding: 20px 40px;
    margin: 0px 20px 20px 20px;
    border-radius: 15px;
}

.hobby {
    border-left: 8px solid goldenrod;
    background-color: wheat;


}

.hobby li{
    margin-bottom: 10px;
    transform: all .2s;
    list-style: none;
}
.hobby li:hover {
    font-size: 20px;
    background: goldenrod;
    border-radius: 5px;
    list-style: normal;
}

.works {
    border-left: 8px solid darkcyan;
    background-color: skyblue;
    /* display: inline-block;
    box-sizing: border-box;
    margin: 20px auto;
    width: 100%; */
}

.table {
    width: 100%;
}

.call {
    border-left: 8px solid brown;
    background-color: coral;
    display: block;
}

.call h2{
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid brown;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    /* width: calc(50% - 20px); */
    width: 50%;
}

.btn {
    background: darkred;
    padding: 15px 30px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transform: all .5s;
}

.btn:hover{
    color: gold;
    font-size: 1.5rem;
    opacity: .8;
}

.btn:visited{
    color: blue;
}

a {
    margin-bottom: 5px;
    text-decoration: none;
    transition: all .2s;
}

a:hover {
    text-decoration: underline;
    color: rgb(253, 154, 171);
}

a:visited {
    color: rgb(253, 154, 171);
}

.works tbody tr th:nth-child(2), .works tbody tr th:nth-child(3) {
    padding: 3px 10px 3px 10px;
   color: white;
}

.works thead tr:nth-child(1), .works tbody tr th:nth-child(1), .works h2{
    color: darkcyan;
    padding: 10px 5px;
}